body {
    background-color:blanchedalmond;
}

#tit {
    font-style: italic;
    font-family: monotype corsiva;
    font-size: 60px;
}

#linha {
    border: solid 1px blue;
}

#col {
    border: solid 1px red;
}

#aligamento {
    text-align: center;
}
