<h1 id="tit">Lista</h1>

<style>
    #tit {
        font-style: italic;
        font-family: monotype corsiva;
        font-size: 35px;
    }
</style>

<hr />

<div class="container">
    <div class="table-responsive">
        <table class="table-bordered">

            <thtd>
                <tr>
                    <td class="list-group-item-info" style="padding: 0px 30px 0px 30px; text-align:center;"><strong>País</strong></td>
                    <td class="list-group-item-info" style="padding: 0px 30px 0px 30px; text-align:center;"><strong>Estado</strong></td>
                    <td class="list-group-item-info" style="padding: 0px 30px 0px 30px; text-align:center;"><strong>Cidade</strong></td>
                    <td class="list-group-item-info" style="padding: 0px 30px 0px 30px; text-align:center;"><strong>Bairro</strong></td>
                </tr>
            </thtd>
                     

            <tbody>
                <tr>
                    <td style="padding: 0px 30px 0px 30px;">Brasil</td>
                    <td style="padding: 0px 30px 0px 30px;">Rio de Janeiro</td>
                    <td style="padding: 0px 30px 0px 30px;">R.J.</td>
                    <td style="padding: 0px 30px 0px 30px;">Inhaúma</td>
                </tr>

                <tr>
                    <td style="padding: 0px 30px 0px 30px;">Estados Unidos</td>
                    <td style="padding: 0px 30px 0px 30px;">New York</td>
                    <td style="padding: 0px 30px 0px 30px;">N.Y.</td>
                    <td style="padding: 0px 30px 0px 30px;">Miryck</td>
                </tr>

                <tr>
                    <td style="padding: 0px 30px 0px 30px;">Brasil</td>
                    <td style="padding: 0px 30px 0px 30px;">Rio de Janeiro</td>
                    <td style="padding: 0px 30px 0px 30px;">R.J.</td>
                    <td style="padding: 0px 30px 0px 30px;">Méier</td>
                </tr>
                <tr>
                    <td style="padding: 0px 30px 0px 30px;">Brasil</td>
                    <td style="padding: 0px 30px 0px 30px;">Rio de Janeiro</td>
                    <td style="padding: 0px 30px 0px 30px;">R.J.</td>
                    <td style="padding: 0px 30px 0px 30px;">Realengo</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


