<h1 id="tit">Mixto</h1>

<br />

<style>
    #tit {
        font-style: italic;
        font-family: monotype corsiva;
        font-size: 35px;
    }
</style>


<div class="container">

    <div class="form-group">
        <label><strong>Informe seu nome e escolha opções abaixo:</strong></label>
        <input type="text" class="form-control" value="" />
    </div>

    <br />


    <div class="row" style="text-align:center;">
        <div class="col col-lg-4">

            <div class="dropdown">
                <button class="btn-info  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estado</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"> Rio de Janeiro </a>
                    <a class="dropdown-item" href="#"> São Paulo </a>
                    <a class="dropdown-item" href="#"> Distrito Federal </a>
                </div>
            </div>

        </div>

        <div class="col col-lg-4">

            <div class="dropdown">
                <button class="btn-info  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cidade</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"> R.J. </a>
                    <a class="dropdown-item" href="#"> S.P. </a>
                    <a class="dropdown-item" href="#"> D.F. </a>
                </div>
            </div>

        </div>

        <div class="col col-lg-4">

            <div class="dropdown">
                <button class="btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bairro</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Méier</a>
                    <a class="dropdown-item" href="#">Luz</a>
                    <a class="dropdown-item" href="#">Ala Norte</a>
                </div>
            </div>

        </div>
    </div>
    <br /><br />
    <button type="submit" class="btn btn-block btn-outline-primary">submeter</button>

    <br />

</div>
