
<h1 id="tit">Postagens</h1>

<hr />

<!--CSS MAIN NO LAYOUT-->


<div class="container">

    <div style="text-align:center; color:blue;" class="row">
        <div class="col col-lg-3">
            <label><strong><em>Autor do Post</em></strong></label>
        </div>

        <div class="col col-lg-6">
            <label><strong><em>Postagem do Autor</em></strong></label>
        </div>

        <div class="col col-lg-3">
            <label><strong><em>Data</em></strong></label>
        </div>
    </div>


    <div style="text-align:center;" class="row" id="linha">
        <div class="col col-lg-3" id="col">
            <p>Paulo Cesar C. Bruno</p>
            <img src="~/Images/Programador.png" height="50" width="50" />

        </div>

        <div class="col col-lg-6" id="col">
            <p style="text-align:justify; text-indent: 50px;">
                É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível.
            </p>
        </div>

        <div class="col col-lg-3" id="col">
            <p style="color: orangered;">Em: 21/09/2019</p>
        </div>
    </div>

    <br />

    <div style="text-align:center;" class="row" id="linha">
        <div class="col col-lg-3" id="col">
            <p>Nicolle Bueno Bruno</p>
            <img src="~/Images/criancamulher.png" height="50" width="50" />
        </div>

        <div class="col col-lg-6" id="col">
            <p style="text-align:justify; text-indent: 50px;">
                É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível.
            </p>
        </div>

        <div class="col col-lg-3" id="col">
            <p style="color: orangered;">Em: 05/08/2019</p>
        </div>
    </div>

    </br/>

    <div style="text-align:left;" class="row">

        <div class="col col-lg-8">
            <div class="form-group">
                <label><strong><em>Sua Resposta:</em></strong></label>
                <textarea class="form-control" rows="7"></textarea>
            </div>
        </div>
    </div>

    <input type="button" class="btn-primary" name="Enviar" value="Enviar" />

</div>