<h1 id="tit">Teste_Cadastro</h1>

<hr />

<style>
    #tit {
        font-style: italic;
        font-family: monotype corsiva;
        font-size: 35px;
    }

    #linha {
        border: solid 0.1px black;
    }

    #col {
        border: solid 0.1px black;
    }

    #aligamento {
        text-align: center;
    }
</style>


<div class="container">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label><strong>Nome</strong></label>
            <input type="text" class="form-control" value="" />
        </div>

        <div class="form-group col-md-12">
            <label><strong>Endereço</strong></label>
            <input type="text" class="form-control" value="" />
        </div>

        <div class="form-group col-md-6">
            <label><strong>E-Mail</strong></label>
            <input type="text" class="form-control" value="" />
        </div>

        <div class="form-group col-md-6">
            <label><strong>Telefone</strong></label>
            <input type="text" class="form-control" value="" />
        </div>

        </br>
        <button type="submit" class="btn btn-block btn-primary">Registrar</button>
    </div>
</div>
