<h1 id="tit">Treino de Grid com Bootstrap</h1>

<hr />

<!--CSS MAIN NO LAYOUT-->

<br />

<div class="container" id="aligamento">

    <!--LINHA 01 com uma Coluna-->
    <div class="row" id="linha">

        <div class="col-md-12" id="col">
            <p>Coluna 1</p>
        </div>
    </div>

    <br />

    <!--LINHA 02 com duas Colunas-->
    <div class="row" id="linha">

        <div class="col-md-6" id="col">
            <p>Coluna 1</p>
        </div>


        <div class="col-md-6" id="col">
            <p>Coluna 2</p>
        </div>

    </div>

    <br />

    <!--LINHA 03 com três Colunas-->
    <div class="row" id="linha">

        <div class="col-md-4" id="col">
            <p>Coluna 1</p>
        </div>


        <div class="col-md-4" id="col">
            <p>Coluna 2</p>
        </div>


        <div class="col-md-4" id="col">
            <p>Coluna 3</p>
        </div>

    </div>

    <br />


    <!--LINHA 03 com três Colunas-->
    <div class="row" id="linha">

        <div class="col-md-3" id="col">
            <p>Coluna 1</p>
        </div>


        <div class="col-md-3" id="col">
            <p>Coluna 2</p>
        </div>


        <div class="col-md-3" id="col">
            <p>Coluna 3</p>
        </div>


        <div class="col-md-3" id="col">
            <p>Coluna 4</p>
        </div>

    </div>

    <br />
    <p>offSet na primeira Coluna</p>
    <!--LINHA 04 com OffSet (Exemplo)-->
    <div class="row" id="linha">

        <div class="col-md-3 offset-md-3" id="col">
            <p>Coluna 1</p>
        </div>


        <div class="col-md-3" id="col">
            <p>Coluna 2</p>
        </div>


        <div class="col-md-3" id="col">
            <p>Coluna 3</p>
        </div>

    </div>
</div>