@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo !!!</h1>
    <p>Visite o <a href="https://www.youtube.com/channel/UC-7rKFVKo4JNNifPBBEEoYw?view_as=subscriber">Canal do Desenvolvedor</a>.</p>
</div>
