@model LoginModel

@{
    Layout = null; // Rotina cancelar o uso do Layout-Template evitando o loop infinito.
}

<!--Necessaria as importações dos link´s abaixo por motivo de que acima estou cancelando o Layout-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
      crossorigin="anonymous"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<!--Link abaixo do CDN do font-awesome/4.7.0 para uso de Ícones, se necessáio-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/site.css" />
<!--Alterar um favicon:-->
<link rel="icon" href="~/Images/1474148441_diagram_v2-20.ico" />

<style>

    .btn-block {
        border-radius: 50px;
        padding-left: 40px;
        padding-right: 40px;
        border-color: #1d82ff;
        background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
        -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
        -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
    }

    .card {
        box-shadow: 1px 11px 70px -20px rgba(0, 0, 0, 0.70);
    }

    .bg-grad {
        background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    }

    h4 {
        color: gray;
    }

    .card-header {
        text-align: center;
        background-color: #fff;
        border-bottom: 0px;
    }

    .logo a img {
        height: 40px !important;
    }

    .tamanho h1 {
        font-family:'Monotype Corsiva';
        font-size: 65px;
        color: #444242;
        text-shadow: 2px -3px #056cc3;
        margin-bottom: -25px;
        text-align:center;
    }
</style>
<Span class="tamanho">
    <br />
    <h1 class="text-center"><em><strong>TreinoAspNetCore2_2</em></strong></h1>
    <br />
</Span>

<body>
    <div class="container py-5">
        <div class="login-form">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-lg-3 offset-lg-3">
                        <div class="card rounded-1">
                            <div class="card-header">
                                <br />
                                <h3 class="mb-0">Logar no Sistema</h3>
                            </div>
                            <div class="card-body">

                                <!--Sempre Necessário colocar o -> (method="post), asp-controller="Home" e asp-action="Login"-->
                                <form asp-controller="Home" asp-action="Login" method="post">
                                    <div class="form-group">
                                        <label for="lblusername">E-Mail (Max. 30 Caracteres)</label>
                                        <input type="text" autofocus="autofocus" class="form-control form-control-range rounded-0" asp-for="Email" maxlength="30">
                                        <!--O "span" abaixo é para mostrar o erro de validação do Required na Classe LoginModel-->
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Senha (Max. 10 Caractres)</label>
                                        <input type="password" class="form-control form-control-range  rounded-0" asp-for="Senha" maxlength="10">
                                        <!--O "span" abaixo é para mostrar o erro de validação do Required na Classe LoginModel-->
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>

                                    <div class="checkbox mb-3">
                                        <!--Rotina abaixo em Razor é para mostrar a Mensagem de erro que esta no Controller se
                                            se o E-Mail ou a Senha Estiverem errados-->
                                        @{
                                            try
                                            {
                                                var erro = TempData["ErrorLogin"].ToString();
                                                <h5 class="text-danger">@erro</h5>
                                            }
                                            catch
                                            {
                                                //
                                            }
                                        }
                                        <label>
                                            <input type="checkbox" checked ="checked"  value="remember-me"> Lembrar meu acesso !
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg btn-block" id="btnLogin">Entrar</button>

                                    <footer class="border-top">
                                        <style>
                                            .sociais a {
                                                font-size: 1.5em;
                                                padding: 0px 20px;
                                                text-decoration: none;
                                                color: black;
                                            }

                                                .sociais a:hover {
                                                    text-decoration: none;
                                                    color: deepskyblue;
                                                }

                                            #sombra {
                                                font-size: 30px;
                                                font-family: monotype corsiva;
                                                text-shadow: 1px 2px 2px gray;
                                                font-style: italic;
                                            }
                                        </style>

                                        <div style="" class=" container">

                                            <div class="text-center">
                                                <br />
                                                <p id="sombra">&reg; @DateTime.Now.Year  -  Paulo Bruno - Desenvolvedor</p>

                                                <div class="sociais">
                                                    <a href="https://m.facebook.com/paulocesar.cbruno" target="_blank"><i class="fa fa-facebook"></i></a>
                                                    <a href="https://www.youtube.com/channel/UC-7rKFVKo4JNNifPBBEEoYw?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a>
                                                    <a href="http://sistemahospitalar.gear.host/" target="_blank"><i class="fa fa-globe"></i></a>
                                                    <br /><br />
                                                </div>
                                            </div>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>