<br />
<br />
<br />
<div class="container">

    <div class="row"  style="text-align:center;">
        <div class="col-lg-4">
            <a href="../Cliente/Index"><img src="~/images/clientes.png" width="150" height="150" /></a>           
            <p><strong><a href="../cliente/Index">Cadastro de Clientes</a></strong></p>
        </div>

        <div class="col-lg-4">
            <a href="../Cliente/Teste"><img src="~/images/configuracoes.png" width="150" height="150" /></a>           
            <p><strong><a href="../Cliente/Teste">Grid Bootstrap</a></strong></p>
        </div>

        <div class="col-lg-4">
            <a href="../Cliente/Post"><img src="~/Images/configuracoes.png" width="150" height="150" /></a>           
            <p><strong><a href="../Cliente/Post">Teste de Post</a></strong></p>
        </div>
    </div>

    <br />

    <div class="row" style="text-align:center;">
        <div class="col-lg-4">
            <a href="../Cliente/Teste_Cadastro">
                <img src="~/images/configuracoes.png" width="150" height="150" />              
                <p><strong><a href="../Cliente/Teste_Cadastro">Teste Cadastro</strong></p>
        </div>

        <div class="col-lg-4">
            <a href="../Cliente/Lista"><img src="~/images/configuracoes.png" width="150" height="150" /></a>           
            <p><strong><a href="../Cliente/Lista">Teste Lista</a></strong></p>
        </div>

        <div class="col-lg-4">
            <a href="../Cliente/Mixto"><img src="~/images/configuracoes.png" width="150" height="150" /></a>           
            <p><strong> <a href="../Cliente/Mixto">Teste Misto</a></strong></p>
        </div>
    </div>
</div>