<br />
<br />
<br />
<div class="row" style="text-align:center;">
    <div class="col-lg-4">
        <a href="../Cliente/Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
        <div class="row"></div>
        <span><strong><a href="../cliente/Index">Cadastro de Clientes</a></strong></span>
    </div>

    <div class="col-lg-4">
        <a href="../Vendedor/Index"><img src="~/images/vendedores.png" width="150" height="150" /></a>
        <div class="row"></div>
        <span><strong><a href="../Vendedor/Index">Cadastro de Vendedores</a></strong></span>
    </div>

    <div class="col-lg-4">
        <a href="../Produto/Index"><img src="~/images/produtos.png" width="150" height="150" /></a>
        <div class="row"></div>
        <span><strong><a href="../Produto/Index">Cadastro de Produtos</a></strong></span>
    </div>
</div>

<br />

<div class="row" style="text-align:center;">
    <div class="col-lg-4">
        <a href="../Venda/Index"><img src="~/images/vendas.png" width="150" height="150" />
            <div class="row"></div>
            <span><strong><a href="../Venda/Registrar">Registro de Vendas</strong></span>
    </div>

    <div class="col-lg-4">
        <a href="../Relatorio/Index"><img src="~/images/relatorios.png" width="150" height="150" /></a>
        <div class="row"></div>
        <span><strong><a href="../Relatorio/Index">Relatórios</a></strong></span>
    </div>

    <div class="col-lg-4">
        <a href="../Sobre/Index"><img src="~/images/configuracoes.png" width="150" height="150" /></a>
        <div class="row"></div>
        <span><strong> <a href="../Sobre/Index">Sobre o Sistema</a></strong></span>
    </div>
</div>